<header>
  <mat-toolbar color="primary">
    <span>Card Deck Manager</span>
  </mat-toolbar>
</header>
<main>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="shuffleDeck()">Shuffle Deck</button>
    <button mat-raised-button color="accent" (click)="dealCards()">Deal Cards</button>
    <button mat-raised-button color="warn" (click)="resetDeck()">Reset Deck</button>
    <button mat-raised-button color="primary" (click)="viewDealtCardsHistory()">
      View Dealt Cards History
    </button>
  </div>
  <div class="card-grid">
    <div *ngFor="let card of dealtCards" class="card">
      <img [src]="card.image" [alt]="card.rank + ' of ' + card.suit" />
    </div>
  </div>
</main>


